# Local Site Directories
#_site/
#.sass-cache/
#.jekyll-cache/
#.jekyll-metadata

# Ruby Gems
.bundle
Gemfile.lock

# Log Files
*.log

# Temp and lock files
*.lock
*.tmp

# Docs and information
#additi_info/

# Drafts for blog posts and projects
#drafts/

# Test folder to compare and buil
#test/
